<nz-spin [nzSpinning]="loader.isLoading">
  <nz-layout>
    <app-header></app-header>
    <nz-content>
      <!--    <nz-breadcrumb>-->
      <!--      <nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
      <!--      <nz-breadcrumb-item>List</nz-breadcrumb-item>-->
      <!--      <nz-breadcrumb-item>App</nz-breadcrumb-item>-->
      <!--    </nz-breadcrumb>-->
      <div class="inner-content">
        <router-outlet id="main"></router-outlet>
      </div>
    </nz-content>
    <app-footer></app-footer>
  </nz-layout>
</nz-spin>
