

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  margin-top: 15px;
  padding: 0 50px;
}


.inner-content {
  overflow: auto;
  background: #fff;
  padding: 24px;
  height: 77vh;
  //min-height: 280px;
}
