.logo {
  width: 120px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);

  margin: 16px 24px 16px 0;
  float: left;
}

nz-header {
  height: auto;
  max-height: 130px;
}


[nz-menu] {
  line-height: 84px;
}
