<nz-header>
  <!--  <div class="logo">-->
  <img class="logo" src="https://www.matichon.co.th/wp-content/uploads/2017/06/scg.jpg" alt="">
  <!--  </div>-->
  <ul nz-menu nzTheme="dark" nzMode="horizontal">
    <li nz-menu-item routerLink="/restaurant" routerLinkActive="ant-menu-item-selected">Restaurant at Bangsue</li>
    <li nz-menu-item routerLink="/test" routerLinkActive="ant-menu-item-selected">Test</li>
    <li nz-menu-item routerLink="/resume" routerLinkActive="ant-menu-item-selected">Resume</li>
  </ul>
</nz-header>
