<nz-row [nzGutter]="24">
  <nz-input-group [nzSize]="'large'">
    <ng-container *ngFor="let input of Input;let index=index">
      <nz-col [nzSpan]="3">
        <input nz-input placeholder="Basic usage" [ngModel]="input" (change)="onValueChange($event,index)"/>
      </nz-col>
    </ng-container>
    <nz-col [nzSpan]="3">
      <div style="float:right">
        <button nz-button nzType="primary" (click)="onFinding()">Find XYZ</button>
      </div>
    </nz-col>
  </nz-input-group>
</nz-row>


<nz-row [nzGutter]="24" style="margin-top: 15px;">
  <nz-col [nzSpan]="24">
    <hr>
  </nz-col>
</nz-row>
<nz-row style="margin-top: 15px;">
  <nz-input-group [nzSize]="'large'">
    <ng-container *ngFor="let i of result">
      <nz-col [nzSpan]="3">
        <input
            #inputElement
            style="width: 120px"
            nz-input
            nz-tooltip
            nzTrigger="focus"
            nzPlacement="topLeft"
            nzOverlayClassName="numeric-input"
            [ngModel]="i"
            readonly
        />
      </nz-col>
    </ng-container>
  </nz-input-group>
</nz-row>
