<div nz-row [nzGutter]="24">
  <div nz-col nzSpan="24">
    <div style="float: left;">
      พบทั้งหมด {{result.length}} ร้าน
    </div>
    <div style="float:right;">
      <button nz-button nzType="primary" (click)="onSearch()">
        <i nz-icon nzType="undo" nzTheme="outline"></i> รีเฟรช
      </button>
    </div>
  </div>
</div>
<div nz-row [nzGutter]="24" style="margin-top:20px;background: #ECECEC;">
  <ng-container *ngIf="result.length >0;else DataEmpty">
    <ng-container *ngFor="let r of result">
      <div nz-col nzSpan="6">
        <div style="padding:20px;">
          <nz-card [nzBordered]="true" style="height: 240px" [nzTitle]="r.name" [nzExtra]="extraTemplate">
            <ng-container *ngIf="r.opening_hours && r.opening_hours.open_now;else CLOSE_NOW">
              <p class="ant-btn-danger" style="background-color: #28A745">&nbsp; ร้านเปิด</p>
            </ng-container>
            <ng-template #CLOSE_NOW><p class="ant-btn-danger">&nbsp; ร้านปิด</p></ng-template>
            <p>{{r.vicinity}}</p>
            <nz-rate [ngModel]="r.rating" nzDisabled></nz-rate>
            ({{r.user_ratings_total}})
          </nz-card>
        </div>
        <ng-template #extraTemplate>
          <a>เพิ่มเติม</a>
        </ng-template>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #DataEmpty>
  <div nz-col nzSpan="24" style="margin-top:200px;height: 40vh">
    <nz-empty></nz-empty>
  </div>
</ng-template>
